* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 300%;
    font-style: italic;
    text-shadow: 2px 2px rgb(69, 69, 69);
}

h2 { 
    font-size: 250%;
    line-height: 150%;
    border-bottom-style: solid;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(69, 69, 69);
}

h3 {
    font-size: 150%
}

header {
    display: inline-block;
    width: 100%;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(100, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px rgb(69, 69, 69);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
}

header nav li {
    display: inline-block;
    margin-left: 25px;
}

section { 
    width: 100%;
    display: block;
}

section p {
    margin: 50px;
}

section .categories {
    margin: 20px;
    padding: 20px;
    height:fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color:rgb(163, 24, 24);
    color: #ffffff;
    box-shadow: 10px 5px 5px rgb(69, 69, 69);
    border-radius: 10px;
}

.project-links {
    display: flex;
    justify-content: space-evenly; 
    margin: 20px;
}

section .project-links img {
    max-height: 200px;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    max-height: 150px; 
    }

section .project-links img:hover {
    box-shadow: 5px 5px 5px rgb(69, 69, 69);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

section #contact-me img {
    max-height: 100px;
    margin-top: 50px;
    border-style: solid;
    border-radius: 10px;
}

footer { 
    padding: 30px;
    clear: both;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



